apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: shahlll/kube-notes-frontend:latest
        imagePullPolicy: Always
        securityContext:
          runAsUser: 0
        ports:
        - containerPort: 80
